<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="utf-8">
   <title>COMP5347 Group Project</title>
   <link rel="stylesheet" href="/css/style.css" />
   <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
   <script type="text/javascript" src="/js/index.js"></script>


</head>
<body>
  <div id="loginform" style="<%=logindisplay%>">
    <form method="POST" action="main">
      <p id="loginerrorresult"><%=allResult.loginerrormsg%></p>
      <label for="email">Email:</label>
      <input type="email" id="loginemail" name="loginemail" class="loginrequired"><br>
      <label for="password">Password:</label>
      <input type="password" id="loginpassword" name="loginpassword" class="loginrequired"><br>
      <input name="formtype" value="login" style="display:none">
      <input type="submit">
      <button type="button" onclick="register()">Register</button><br><br>
    </form>
  </div>


  <div id="registrationform" style = "<%=registrationdisplay%>">
    <form method="POST" action="main">
      <p id="errorresult"><%=allResult.errormsg%></p>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" class="required" value="<%=allResult.inputemail%>"><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="required"><br>
      <label for="password">Re-Password:</label>
      <input type="password" id="repassword" name="repassword" class="required"><br>
      <label for="firstname">First name:</label>
      <input type="text" id="firstname" name="firstname" class="required" value="<%=allResult.inputfirstname%>"><br>
      <label for="lastname">Last name:</label>
      <input type="text" id="lastname" name="lastname" class="required" value="<%=allResult.inputlastname%>"><br>
      <input name="formtype" value="registration" style="display:none">
      <input type="submit">
      <button type="button" onclick="login()">Back to Login</button><br>
    </form>
  </div>
</body>
</html>
